.custom-carousel{
    /* height:50vh;  */
     width: 100%;
}
h1{
    /* text-align: center; */
    justify-content: center;
}


.carousel-control-prev,
.carousel-control-next {
    display: none; /* Hide the previous and next buttons */
}
