.custom-navbar{
    background-color: #6DA5C0;
}
.custom-carousel {
    height: 50vh; /* Make carousel take full viewport height */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

.carousel-image-wrapper {
    height: 100%; /* Ensure image wrapper takes full height */
}

.carousel-image {
    width: 100%; /* Ensure image takes full width */
    height: auto; /* Maintain aspect ratio */
}